/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.swn
*.swo
*.swp
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.DS_Store
.nrepl-port
/test/test.js
/test/firefox-profile
